<h2>Dashboard Smartphone</h2>

<div class="dashboard-wrapper">
  <app-smartphone-brand-chart></app-smartphone-brand-chart>
  <app-smartphone-brand-chart-apex></app-smartphone-brand-chart-apex>
  <!-- </div> -->
  <!--<app-smartphone-os-chart></app-os-chart>
  <app-smartphone-sreensize-chart></app-price-chart>
  <app-smartphone-pricerange-chart></app-price-chart>
  <app-smartphone-releasedate-chart></app-price-chart> -->
  <app-smartphone-os-chart></app-smartphone-os-chart>
  <!--<div class="dashboard-wrapper"> -->
  <app-smartphone-os-chart-apex></app-smartphone-os-chart-apex>
  <!--</div> -->

  <!--<app-smartphone-pricerange-chart></app-smartphone-pricerange-chart>-->
  <!--<div class="dashboard-wrapper"> -->
  <app-smartphone-pricerange-chart-apex></app-smartphone-pricerange-chart-apex>
  <!--</div> -->

  <!--<app-smartphone-releasedate-chart></app-smartphone-releasedate-chart>-->
  <!--<div class="dashboard-wrapper"> -->
  <app-smartphone-releasedate-chart-apex></app-smartphone-releasedate-chart-apex>
  <!--</div> -->

  <!--<app-smartphone-screensize-chart></app-smartphone-screensize-chart>-->
  <!--<div class="dashboard-wrapper"> -->
  <app-smartphone-screensize-chart-apex></app-smartphone-screensize-chart-apex>
  <!--</div> -->
</div>
